@import "bootstrap/scss/bootstrap-grid.scss";
@import "bootstrap/scss/bootstrap-reboot.scss";
@import "bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');
/*base,components and modules */
@import 'partials/base/_variables.scss';
@import 'partials/base/_mixins.scss';
@import 'partials/modules/_typography.scss';
@import 'partials/modules/_buttons.scss';
@import 'partials/modules/_components.scss';
@import 'partials/modules/_forms.scss';
@import 'partials/layout/_header.scss';
@import 'partials/layout/_footer.scss';



body{
	font-family: $base-font-family;
	font-size:$base-font-size;
	color:#999;
}




.form-control{
	 @include border-radius(2px);
	font-weight:300;
	color: rgba(4, 8, 54, 0.5);
	letter-spacing: 0;
}
.form-control::-webkit-input-placeholder{
	color: rgba(4, 8, 54, 0.5);
    font-weight:300;
    font-size:14px;
}
.form-control::-moz-placeholder{
	color: rgba(4, 8, 54, 0.5);
    font-weight:300;
    font-size:14px;
}
.form-control::-moz-placeholder {
	color: rgba(4, 8, 54, 0.5);
    font-weight:300;
    font-size:14px;
}
.form-control:-ms-input-placeholder  {
	color: rgba(4, 8, 54, 0.5);
    font-weight:300;
    font-size:14px;
}


