//header and navs
.header{
    background:$primary-bg; 
    //primary-nav
    .primary-nav{
	        padding: 3px 0px;
	        border-bottom: 1px solid rgba(4, 8, 56, 0.13);
			display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
			display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
			display: -ms-flexbox;      /* TWEENER - IE 10 */
			display: -webkit-flex;     /* NEW - Chrome */
			display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	        justify-content:space-between;
	        align-items:center;
	        ul{
	        	@extend %un-styled-list;
	        	li{
	        		    display: inline-block;
		        	a{
		        		color:#999;
						color: #4C4646;
						letter-spacing: 0;
						font-weight:300;
						text-decoration:none;
		        		img{
		        			padding-right:5px;
		        			 -webkit-transition: -webkit-transform .8s ease-in-out;
							    -ms-transition: -ms-transform .8s ease-in-out;
							    transition: transform .8s ease-in-out;
							    &:hover{
							    	 transform:rotate(360deg);
								    -ms-transform:rotate(360deg);
								    -webkit-transform:rotate(360deg);
							    }
		        		}
		        		strong{
		        			font-weight:500;
		        		}
		        	}
	        }
	    }
	    ul:last-child{
	    	li >a >img{
	    		padding-right:0px;
	    	}
	    }
	}
	//secondary-nav
	.secondary-nav{
		padding:15px 0px;
		.logo{
			position: absolute;
		    left: 0;
		    right: 0;
		    margin: auto;
		    width: 236px;
		}
		.navbar-nav >li {
			a{
				font-size: 12px;
				color: #000000;
				letter-spacing: 0;
				line-height: 21px;
				font-weight:500;
				text-transform:uppercase;
				@extend %transition-all;
				&:hover,&:active,&:focus{
					color: #84A016;
					letter-spacing: 0;
				}
			}
			
			&:first-child > a{
				padding-left:0!important;
			}
		}
		.navbar-nav >li.active{
				a{
					color: #84A016;
					letter-spacing: 0;
				}
				
		}

	}
	//check-availability
	.check-availability-container{
		position: absolute;
		width:100%;
		left:0;
		padding:0 15px;
		.check-availability{
			background: #040836;
			border: 1px solid #040836;
			padding:15px;
			ul{
				@extend %un-styled-list;
				display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
				display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
				display: -ms-flexbox;      /* TWEENER - IE 10 */
				display: -webkit-flex;     /* NEW - Chrome */
				display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
				justify-content:space-around;
				align-items:flex-end;
				li{
					display:inline-block;
					vertical-align:middle; 
					h6{
						font-size: 16px;
					    color: #FFFFFF;
					    letter-spacing: 0;
					    line-height: 24px;
					    margin-bottom: 0px;
					    font-weight:400;
					}
					label{
						margin-bottom:0;
						display:block;
						color: #FFFFFF;
						font-weight:300;
						font-size: 12px;
						text-transform:uppercase;
					}
				}
			}
		}
	}
	
}