
/* Font Specification */

$base-font-size:14px;
$base-font-color:#666;

/* Color Palette*/
$primary-color:#00aff0;
$secondary-color:#7fba00;
$light-color:#e4eef2;
$dark-color:#2b5464; 


$primary-bg:#fff;



