.btn-primary{
    background: #84A016;
    border-radius: 2px;
    border-color: #84A016;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    font-weight: 500;
    padding: 8px 15px;
    @extend %transition-all;
    &:hover,&:active,&:focus{
        background-color: #6f8712;
        border-color: #6f8712;
        box-shadow: none;
    }
}
.btn-primary:not(:disabled):not(.disabled):active, 
.btn-primary:not(:disabled):not(.disabled).active,
 .show > .btn-primary.dropdown-toggle{
    background-color: #6f8712;
    border-color: #6f8712;
    box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, 
.btn-primary:not(:disabled):not(.disabled).active:focus,
 .show > .btn-primary.dropdown-toggle:focus{
    box-shadow: none;
 }

 .btn-go{
    position:absolute;
    width:32px;
    height:32px;
    line-height:32px;
    text-align:center;
    font-size:14px;
    color:rgba(255,255,255, 1);
    background:#719200;
    border-radius:50%;
    padding:0;
    right: 5px;
    top: 2px;
    @extend %transition-all;
    &:hover,&:active,&:focus{
        background: #6f8712;
        box-shadow: none;
    }
    
}