.btn-primary{
    background: #84A016;
    border-radius: 2px;
    border-color: #84A016;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    font-weight: 500;
    padding: 8px 15px;
    @extend %transition-all;
    &:hover,&:active,&:focus{
        background-color: #6f8712;
        border-color: #6f8712;
        box-shadow: none;
    }
}
.btn-primary:not(:disabled):not(.disabled):active, 
.btn-primary:not(:disabled):not(.disabled).active,
 .show > .btn-primary.dropdown-toggle{
    background-color: #6f8712;
    border-color: #6f8712;
    box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, 
.btn-primary:not(:disabled):not(.disabled).active:focus,
 .show > .btn-primary.dropdown-toggle:focus{
    box-shadow: none;
 }