
h1{
    font-weight: 400;
    font-size: 46px;
    letter-spacing: 0;
    line-height: 50px;
     @include respond-to(handhelds) { 
        font-size: 30px;
        line-height: 36px;
    }
    @include respond-to(medium-screens) { 
        font-size: 36px;
        line-height: 40px;
    }
     @include respond-to(medium-screens-lanscape) { 
        font-size: 40px;
        line-height: 44px;
    }
}
h2{
    font-weight: 400;
    font-size: 38px;
    letter-spacing: 0;
    line-height: 42px;
     @include respond-to(handhelds) { 
        font-size: 20px;
        line-height: 24px;
    }
     @include respond-to(medium-screens) { 
        font-size: 24px;
        line-height: 30px;
    }
}
h5{
	font-weight: 300;
	letter-spacing: 0;
}
h6{
	font-weight: 500;
    font-size: 20px;
    letter-spacing: 4.8px;
     @include respond-to(handhelds) { 
        font-size: 16px;
        line-height: 20px;
    }
    @include respond-to(medium-screens) { 
        font-size: 18px;
        line-height: 22px;
    }
}
p{
	font-weight: 300;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
     @include respond-to(handhelds) { 
        font-size: 12px;
        line-height: 16px;
    }
}